# Homework 1
## FRE-GY 7773: Machine Learning in Finance
- Fall 2021
- Due: September 24, 2021

### HW1 Notes
- Use grid search (use max depth [1-10] and return the best model), 
### Arguements
- N = 1000, d = 10

In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("/Users/nicktran/Desktop/Data-Analysis/ML in Finance/HW1/index_prices.csv")

In [9]:
df.set_index('Date', inplace = True)

In [11]:
df.head()

,AGG,TLT,IEF,LQD,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,EFA,EWJ,EWW,EWY,EZU
Date,,,,,,,,,,,,,,,,,,
9/18/2017,109.860001,126.129997,107.269997,120.900002,56.380001,66.120003,25.059999,69.779999,58.790001,55.299999,54.189999,82.570000,89.320000,68.150002,55.250000,55.910000,69.839996,43.080002
9/19/2017,109.800003,125.820000,107.150002,120.970001,56.669998,66.389999,25.250000,69.849998,59.049999,55.130001,54.080002,81.919998,89.239998,68.470001,55.570000,55.650002,70.070000,43.290001
9/20/2017,109.709999,125.910004,106.940002,120.820000,56.869999,66.839996,25.400000,70.360001,58.810001,54.599998,53.680000,82.000000,89.540001,68.320000,55.590000,55.860001,69.699997,43.080002
9/21/2017,109.690002,125.839996,106.800003,120.820000,56.750000,66.860001,25.459999,70.570000,58.490002,54.080002,53.669998,81.580002,89.389999,68.180000,55.369999,55.730000,69.690002,43.110001
9/22/2017,109.769997,126.199997,106.989998,120.980003,56.549999,67.199997,25.430000,70.750000,58.520000,53.919998,53.230000,81.580002,89.540001,68.389999,55.430000,55.990002,69.330002,43.200001

- This is a nice description of the market as a whole, utilties are dividend stocks and go up when interest rates go up. Energy is a proxy for dividends
- Build a predictive model that looks at one sector, and predicts other sectors
- When rates go down, bank stocks go 
- Risk on and risk off
- Predicting Portfolio Prices: don't do it
- Why do we do that? -> predict the returns and not the portfolio price

In [21]:
df_returns = df.pct_change(1) # this is how we see the returns on each ETF. We use df.percent_change
# This makes the first row NaN because there is no value to subtract off of

In [23]:
df_returns = df_returns[1:]

In [24]:
df_returns.head()

,AGG,TLT,IEF,LQD,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,EFA,EWJ,EWW,EWY,EZU
Date,,,,,,,,,,,,,,,,,,
9/19/2017,-0.000546,-0.002458,-0.001119,0.000579,0.005144,0.004083,0.007582,0.001003,0.004422,-0.003074,-0.002030,-0.007872,-0.000896,0.004696,0.005792,-0.004650,0.003293,0.004875
9/20/2017,-0.000820,0.000715,-0.001960,-0.001240,0.003529,0.006778,0.005941,0.007301,-0.004064,-0.009614,-0.007396,0.000977,0.003362,-0.002191,0.000360,0.003774,-0.005280,-0.004851
9/21/2017,-0.000182,-0.000556,-0.001309,0.000000,-0.002110,0.000299,0.002362,0.002985,-0.005441,-0.009524,-0.000186,-0.005122,-0.001675,-0.002049,-0.003958,-0.002327,-0.000143,0.000696
9/22/2017,0.000729,0.002861,0.001779,0.001324,-0.003524,0.005085,-0.001178,0.002551,0.000513,-0.002959,-0.008198,0.000000,0.001678,0.003080,0.001084,0.004665,-0.005166,0.002088
9/25/2017,0.002369,0.006260,0.002991,0.003720,0.001768,0.014435,-0.001180,0.000000,-0.011791,0.007233,0.009205,-0.002942,-0.002122,-0.005703,0.002165,-0.007144,-0.006491,-0.010880

Avoid combining the data into the same rows